<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5">
	<title>今日上新</title>
	<link rel="stylesheet" href="css/header.css" type="text/css">
	<!--demo展示所用css，不用关心 begin-->
	
	<!--demo展示所用css end-->
	<!--组件依赖css begin-->
	
	<link rel="stylesheet" type="text/css" href="css/navigator.iscroll.css" />
	
	<script src="js/jquery.min.js"></script>
	<!--组件依赖js begin-->
	
	<script src="js/header.js"></script>

	<script type="text/javascript" src="js/zepto.js"></script>
	<script type="text/javascript" src="js/zepto.extend.js"></script>
	<script type="text/javascript" src="js/zepto.ui.js"></script>
	<script type="text/javascript" src="js/zepto.iscroll.js"></script>
	<script type="text/javascript" src="js/widget/navigator.js"></script>
	<script type="text/javascript" src="js/widget/navigator.iscroll.js"></script>
	<!--组件依赖js end-->
    
	</head>
	<body>
	<header>
		<div id="top_bar">
			<div class="top_l"><i class=""></i></div>
			<div class="top_c">
				<div class="title"><p>今日头条<span class="iconfont iconfont_shua">&#xe616;</span></p></div>
				
			</div>
			<div class="top_r"><i class="iconfont iconfont_search">&#xe621;</i></div>
		</div>
		
		<div id="top_menu_bar">			
			<div id="nav-smartSetup">
			   	<ul>
					<li><a href="#">头条</a></li>
					<li><a href="#">社会</a></li>
					<li><a href="#" class="on">国内</a></li>
					<li><a href="#">国际</a></li>
					<li><a href="#">娱乐</a></li>
					<li><a href="#">体育</a></li>
					<li><a href="#">军事</a></li>
					<li><a href="#">科技</a></li>
					<li><a href="#">财经</a></li>
					<li><a href="#">时尚</a></li>
					
				</ul>
			</div>
		</div>
		
	</header>


{% include "footer.html" %}
</body>
</html>
