<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5" />
		<link rel="stylesheet" href="../static/css/news.css" />
	
		<link rel="stylesheet" href="../static/css/header.css" />
		
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
		<script src="../static/js/click.js"></script>
		<script src="../static/js/header.js"></script>
		
	</head>
	<body>
		<div id="index">
			<header>
			<div id="h_t">
				<a href="##" class="l iconfont"></a>
				<h2>今日最新<span class="iconfont" id="load"></span></h2>
				<a href="##" class="r iconfont"></a>
			</div>
			<nav>
				<ul>
					<li data-name="top"><a href="#">头条</a></li>
					<li data-name="shehui"><a href="#">社会</a></li>
					<li data-name="guonei"><a href="#">国内</a></li>
					<li data-name="guoji"><a href="#">国际</a></li>
					<li data-name="yule"><a href="#">娱乐</a></li>
					<li data-name="tiyu"><a href="#">体育</a></li>
					<li data-name="junshi"><a href="#">军事</a></li>
					<li data-name="keji"><a href="#">科技</a></li>
					<li data-name="caijing"><a href="#">财经</a></li>
					<li data-name="shishang"><a href="#">时尚</a></li>
				</ul>
				</nav>
			</header>
			<section>
			
			</section>
			
		</div>
		
		{% include "footer.html" %}
		
		
	</body>
</html>
