<!DOCTYPE html>
<html>
    <head>
        <title>登陆页面</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link href="../static/css/login.css" type="text/css" rel="stylesheet">
        <link href="../static/css/reset.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="../static/js/login.js"></script>
    </head>
    <body>
        <div class="login">
            <div class="login-title"><p></p>
                <i></i>
            </div>
            <form method="post" action="success.html">
            <div class="login-bar">
                <ul>
                    <li><img src="../static/img/login_user.png"><input type="text" class="text" placeholder="请输入用户名" /></li>
                    <li><img src="../static/img/login_pwd.png"><input type="password" class="psd" placeholder="请输入确认密码" /></li>
                </ul>
            </div>
            <div class="login-btn">
                <button class="submit" type="submit" ><a href="index.html">登陆</a></button>
                <a href="register.html"><div class="login-reg"><p>莫有账号，先注册</p></div></a>
            </div>
            </form>
        </div>
		<div style="text-align:center;">

</div>
	{% include "footer.html" %}
    </body>
</html>